<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>ladyDelivery</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- TYPEFACE
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Dependencies -->

    <!-- firebase UI -->
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    
    

    <!-- Angular Fire Let's Go FIYAH -->
    <!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>


	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>

	<script src="js/script.js"></script>
	<script src="js/addOrder.js"></script>
    
    <script src="js/moment.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" style="max-width: 1400px">
<div class="row">
  <div class="eight columns" style="margin-top: 10%">
    <h2>LadyJek Delivery</h2>
    <p>Sign in to access your dashboard or check out our <a href="pages/docs.html">API Documentation</a> to include it in your app.</p>
    <p id="timestamp">last updated at: </p>
  </div>
  <div class="four columns" style="margin-top: 10%; text-align:right">
  	<div id="quickstart-sign-in-status"></div></br>
    <button id="loginButton"></button>
  </div>
</div>

<div class="row">
	<nav class="navbar">
			<ul class="navbar-list" id="navBar">
				<li class="navbar-item"><a href="#" class="navbar-link">Home</a></li>
				<!-- <li class="navbar-item"><a href="#dashboard" class="navbar-link">Dashboard</a></li> -->
				<li class="navbar-item"><a href="#order-form" class="navbar-link">Order Form</a></li>
			</ul>
	</nav>
</div>

<div ng-app="ladyDeliveryApp" ng-controller="mainController">

<div class="row">
<div id="quickstart-sign-in-status"></div>
    <div id="quickstart-sign-in"></div>
    <!--<div id="quickstart-account-details"></div>-->
    
</div>

<div ng-view></div>
<!--
<div class="row" ng-repeat="pushID in order">
              
      <h2>{{ pushID.order_id }}</h2>
      
      <div class="row" ng-repeat="stat in pushID.status">       
        <input type="checkbox" id="{{ pushID.order_id }}-{{ $index  }}" ng-model="stat.active" ng-disabled="stat.active">
        <label for="{{ pushID.order_id }}-{{ $index }}">{{ stat }}<br>
        <span ng-if="stat.active">Booked</span>
        <span ng-if="!stat.active">Available</span>
        </label>
      </div>
</div>-->
<!--
<div class="row">
	<table class="u-full-width">
		<thead>
			<tr>
				<th>ORDER_ID</th>
				<th>FROM</th>
				<th>TO</th>
				<th>ITEM</th>
				<th>STATUS</th>
			</tr>
		</thead>
		<tbody id="orderList">
			<tr ng-repeat="(pushID, pushObj) in order">
				<td style="max-width: 100px; word-wrap: break-word">{{ pushID.replace('-','') }}</td>
				<td style="max-width: 150px">
					<p><strong>{{ pushObj.from.name }}</strong></p>
					<p>{{ pushObj.from.phone_no }}</p>
					<p>{{ pushObj.from.address }}</p>
				</td>
				<td style="max-width: 150px">
					<p><strong>{{ pushObj.to.name }}</strong></p>
					<p>{{ pushObj.to.phone_no }}</p>
					<p>{{ pushObj.to.address }}</p>
				</td>
				<td style="max-width: 100px">{{ pushObj.item }}</td>
				<td class="status-checkbox">
					<input type="checkbox" id="{{ pushObj.order_id }}-0"  ng-model="pushObj.status.posted.active">
					<label for="{{ pushObj.order_id }}-0">Posted</label>
					<input type="checkbox" id="{{ pushObj.order_id }}-1"  ng-model="pushObj.status.picked.active">
					<label for="{{ pushObj.order_id }}-1">Picked-Up</label>
					<input type="checkbox" id="{{ pushObj.order_id }}-2"  ng-model="pushObj.status.delivered.active">
					<label for="{{ pushObj.order_id }}-2">Delivered</label>
				</td>
			</tr>
		</tbody>
	</table>
</div> -->
</div>
</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>

<!--
<tr>
				<td>00001</td>
				<td><p class="strong">Brian Mulyadi</p>
						<p>+6287776644633</p>
						<p>Taman Kencana E1/30, Cengkareng, Jakarta Barat</p></td>
				<td><p class="strong">Brian Mulyadi</p>
						<p>+6287776644633</p>
						<p>Taman Kencana E1/30, Cengkareng, Jakarta Barat</p>
				<td>Brosur(10)</td>
				<td>Order placed</td>
			</tr>
			-->
