<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div ng-app="ladyDeliveryApp" ng-controller="dashController">

<!--
<div class="row" ng-repeat="pushID in order">
              
      <h2>{{ pushID.order_id }}</h2>
      
      <div class="row" ng-repeat="stat in pushID.status">       
        <input type="checkbox" id="{{ pushID.order_id }}-{{ $index  }}" ng-model="stat.active" ng-disabled="stat.active">
        <label for="{{ pushID.order_id }}-{{ $index }}">{{ stat }}<br>
        <span ng-if="stat.active">Booked</span>
        <span ng-if="!stat.active">Available</span>
        </label>
      </div>
</div>-->

<div class="row">
	<table class="u-full-width">
		<thead>
			<tr>
				<th>ORDER_ID</th>
				<th>FROM</th>
				<th>TO</th>
				<th>ITEM</th>
				<th>STATUS</th>
			</tr>
		</thead>
		<tbody id="orderList">
			<tr ng-repeat="(pushID, pushObj) in order">
				<td style="max-width: 100px; word-wrap: break-word">{{ pushID.replace('-','') }}</td>
				<td style="max-width: 150px">
					<p><strong>{{ pushObj.from.name }}</strong></p>
					<p>{{ pushObj.from.phone_no }}</p>
					<p>{{ pushObj.from.address }}</p>
				</td>
				<td style="max-width: 150px">
					<p><strong>{{ pushObj.to.name }}</strong></p>
					<p>{{ pushObj.to.phone_no }}</p>
					<p>{{ pushObj.to.address }}</p>
				</td>
				<td style="max-width: 100px">{{ pushObj.item }}</td>
				<td class="status-checkbox">
					<input type="checkbox" id="{{ pushObj.order_id }}-0"  ng-model="pushObj.status.posted.active">
					<label for="{{ pushObj.order_id }}-0">Posted</label>
					<input type="checkbox" id="{{ pushObj.order_id }}-1"  ng-model="pushObj.status.picked.active">
					<label for="{{ pushObj.order_id }}-1">Picked-Up</label>
					<input type="checkbox" id="{{ pushObj.order_id }}-2"  ng-model="pushObj.status.delivered.active">
					<label for="{{ pushObj.order_id }}-2">Delivered</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->